<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HHZ Super Cars</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>	
    </header>
    
	<main>
		<div class="sticky-menu-container">
			<nav>
					<ul>
                        <li><a href="/">Home</a></li>
						<li><a href="rooms">Rooms</a></li>
						<li><a href="events">Events</a></li>
                        <li><a href="impressions">Impressions</a></li>
                        <li><a href="weather">Weather</a></li>

					</ul>
			</nav>
		</div>
        <div class="container">
            

            <section class="products">
                <h2>Events near our Hotel</h2>
				<div class="product-grid">
                    <% events.forEach(function(event) { %>
                    <div class="product-item">
                        <div class="product-image-container">
							<div class="image" style="background-image: url(http://localhost:9001/eventimages/<%=event.filename%>)"></div>
						</div>
						<h3><%= event.name %></h3>
                        <p><%= event.description %></p>
                        <p>Price: <%= event.price %>€</p>
                    </div>
                    <% }); %>
				</div>	
            </section>
		</div>
    </main>
	
    <footer>
        <div class="container">
            <p>&copy; 2024 Hotel Service. Alle Rechte vorbehalten.</p>
        </div>
    </footer>
</body>
</html>
