<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HHZ Super Cars</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>	
    </header>
    
	<main>
		<div class="sticky-menu-container">
			<nav>
					<ul>
                        <li><a href="/">Home</a></li>
						<li><a href="rooms">Rooms</a></li>
						<li><a href="events">Events</a></li>
                        <li><a href="impressions">Impressions</a></li>
                        <li><a href="weather">Weather</a></li>

					</ul>
			</nav>
		</div>
        <div class="container">
            

            <section class="products">
                <h2>Impressions of our Customers</h2>
				<div class="product-grid">
                    <% impressions.forEach(function(impression) { %>
                    <div class="product-item">
                        <div class="product-image-container">
							<div class="image" style="background-image: url(http://localhost:9002/impressionimages/<%=impression.filename%>)"></div>
						</div>
						<h3><%= impression.name %></h3>
                        <p><%= impression.description %></p>
                        <p>⁓<%= impression.username %></p>
                    </div>
                    <% }); %>
				</div>	
            </section>

            <section class="products">
                <h2>Our Hotel Teaser</h2>
				<div class="product-grid">
                    
                    <div class="product-item">
                        <div class="product-image-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/iUtnZpzkbG8?si=jToKQF6Wft06ritl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>					</div>
						<h3>Visit us soon!</h3>
                        <p>Liked the Video? Show it with a like on Youtube</p>
                        <p>⁓Your Hoteservice</p>
                    </div>
				</div>	
            </section>
		
		</div>
    </main>
	
	
	
	
	
	

    <footer>
        <div class="container">
            <p>&copy; 2024 Hotel Service. Alle Rechte vorbehalten.</p>
        </div>
    </footer>
	
<script src="./script/scripts.js"></script>

</body>
</html>
