<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HHZ Super Cars</title>
    <link rel="stylesheet" href="../styles/styles.css">
	<link rel="stylesheet" href="../styles/modelle.css">
	
</head>
<body>
    <header>	
    </header>
    
	<main>
		<div class="sticky-menu-container">
			<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="rooms">Rooms</a></li>
						<li><a href="events">Events</a></li>
                        <li><a href="impressions">Impressions</a></li>
					</ul>
			</nav>
		</div>
        <div class="container">            
            <section class="products">
                <h2>Wählen Sie Ihr Traumauto </h2>              
					<div class="model-grid">
					<% rooms.forEach(function(room) { %>
						<a href="konfigurator.html" class="grid-link">
								<div class="grid-container">
									<img src="http://localhost:9000/productimages/<%=room.filename%>" alt="Bild" class="top-center"/>
									<div class="text-left">
									<h3><%= room.name %></h3>
									<p><%= room.description %></p>
									<p>Ab $<%= room.price %> € inkl. MwSt.</p>
									</div>
									<div class="bottom-center">
									<p>300PS/220kW 300PS/220kW 300PS/220kW 300PS/220kW</p>
									</div>
								</div>
						</a>   
					<% }); %>
				</div>	
			</section>
		
		</div>
    </main>
	

    <footer>
        <div class="container">
            <p>&copy; 2024 Online Shop. Alle Rechte vorbehalten.</p>
        </div>
    </footer>
	
<script src="scripts.js"></script>

</body>
</html>
