<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaflet</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

   
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>


    <style>
        html, body {
            margin: 0px;
            width: 100%;
            height: 100%;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>   
	<% coordinates.forEach(coordinate => { %> 
	<% let coords = [coordinate.Latitude, coordinate.Longitude] %>
	<h3><%= coords %> - <%= coordinate.Stadtname %> - <%= coordinate.NochVerfuegbar %> - <%= coordinate.datum %></h3>
	<% }); %>
    <!--kommt in sucarex.html rein an der stelle wo die das bild haben --> 
    <div id="map"></div>

    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    
        //bis heir her in sucarex
        let marker, circle, zoomed, currentPosition;
        let routeAdded = false;
    /**
        const dbquery = [
            { coords: [48.4011, 9.9876], name: "Ulm", NochVerfuegbar: true, date: "01.06.2024" },
            { coords: [48.7396, 9.3047], name: "Esslingen", NochVerfuegbar: true, date: "02.06.2024" },
            { coords: [48.7758, 9.1829], name: "Stuttgart", NochVerfuegbar: false, date: "03.04.2024"  },
            { coords: [49.4875, 8.4660], name: "Mannheim", NochVerfuegbar: false, date: "04.04.2024"  },
            { coords: [50.1109, 8.6821], name: "Frankfurt", NochVerfuegbar: true, date: "05.06.2024"  },
            { coords: [51.0504, 13.7373], name: "Dresden", NochVerfuegbar: true, date: "06.06.2024" },
            { coords: [53.0793, 8.8017], name: "Bremen", NochVerfuegbar: true, date: "07.06.2024" }
        ];
		**/		
		
        // Platziere meinen Standort
        navigator.geolocation.watchPosition(success, error);


        function success(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            const accuracy = position.coords.accuracy;

            currentPosition = [latitude, longitude];

            if (marker) {
                map.removeLayer(marker);
                map.removeLayer(circle);
            }

            marker = L.marker([latitude, longitude]).addTo(map);
            marker.bindPopup(`Dies ist dein Standort`);
            circle = L.circle([latitude, longitude], { radius: accuracy }).addTo(map);

            if (!zoomed) { 
                zoomed = map.fitBounds(circle.getBounds());
            }
            
            map.setView([52, 10], 6);
            
            // Erstelle Route zum Event, das als nächstes stattfindet
            route();
        }

        function error(err) {
            if (err.code === 1) {
                alert("Bitte erlauben Sie den Zugriff auf ihren Standort");
            } else {
                alert("Standort kann nicht ermittelt werden");
            }
        }

        function createMarkers(coords, name, verfuegbar, date) {
				const marker = L.marker(coords).addTo(map);
				marker.setZIndexOffset(1000);
				if (verfuegbar == true) {
					const eventDate = date; // Das Datum aus dem Array nehmen
					marker.bindPopup(`Komm am ${eventDate} um 13:00 nach ${name} und schau dir das Supercar aus der Nähe an`);
				} else {
					marker.bindPopup(`Schade, diese Vorstellung in ${name} hast du verpasst, aber es gibt sicher noch ein Event in deiner Nähe`);
				}
		};
        
        function route() {
            if (!routeAdded) {
                L.Routing.control({
                waypoints: [
                    L.latLng(currentPosition[0], currentPosition[1]),
                    L.latLng(48.7396, 9.3047),
                ]
                }).addTo(map);
            }
            routeAdded = true;
        }
        
    </script>
</body>
</html>